body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0912446c;
}

#container_ex3 {
    background-color: #ffffff;
    display: flex;
    width: 400px;
    justify-content: space-evenly;
}

#container_ex3 .tamanho {
    width: 60px;
}

#container_ex3 .filho1 {
    background-color: #ff0000;
}

#container_ex3 .filho2 {
    background-color: #00ff00;
}

#container_ex3 .filho3 {
    background-color: #0000ff;
}

#container_ex3 .filho4 {
    background-color: #ffff00;
}


#container_ex4 {
    background-color: #ffffff;
    display: flex;
    height: 300px;
    align-items: baseline;

}

#container_ex4 .filho1 {
    background-color: #ff0000;
    width: 60px;
}

#container_ex4 .filho2 {
    background-color: #00ff00;
    width: 80px;
}

#container_ex4 .filho3 {
    background-color: #0000ff;
    width: 100px;
}

#container_ex4 .filho4 {
    background-color: #ffff00;
    width: 120px;
}