body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #0912446c;
}

#container_ex5 {
    background-color: #ffffff;
    display: flex;
    width: 400px;
    height: 700px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#container_ex5 .tamanho {
    width: 120px;
    height: 120px;
}

#container_ex5 .filho1 {
    background-color: #ff0000;
}

#container_ex5 .filho2 {
    background-color: #00ff00;
}

#container_ex5 .filho3 {
    background-color: #0000ff;
}

#container_ex5 .filho4 {
    background-color: #ffff00;
}

#container_ex5 .filho5 {
    background-color: #ff00ff;
}

#container_ex5 .filho6 {
    background-color: #00ffff;
}

#container_ex5 .filho7 {
    background-color: #ff8000;
}

#container_ex5 .filho8 {
    background-color: #80ff00;
}

#container_ex5 .filho9 {
    background-color: #0080ff;
}

#container_ex5 .filho10 {
    background-color: #ff0080;
}

#container_ex6 {
    background-color: #ffffff;
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 16px;
}

#container_ex6 .tamanho {
    width: 120px;
    height: 120px;
}

#container_ex6 .filho1 {
    background-color: #ff0000;
}

#container_ex6 .filho2 {
    background-color: #00ff00;
}

#container_ex6 .filho3 {
    background-color: #0000ff;
}

#container_ex6 .filho4 {
    background-color: #ffff00;
}

#container_ex6 .filho5 {
    background-color: #ff00ff;
}

#container_ex6 .filho6 {
    background-color: #00ffff;
}